@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

@layer top {
  * {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    font-size: 1vmin;
    box-sizing: border-box;
  }

  body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    height: 100vh;
    /* color: #333 6e3a03*/
    color: #5f3303;
    background-image: linear-gradient(to top left, #8a6f1d 0%, #b5664e 100%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    position: relative;
    max-width: 100vw;
    max-height: 100vh;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    filter: blur();
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
  }

  table,
  th,
  td {
    border: 1px solid;
    font-size: 2.3rem;
    background-color: rgba(255, 255, 255, 0.4);
  }

  td {
    text-align: right;
    color: green;
    border-color: default;
    width: 50%;
  }

  th {
    text-align: left;
  }

  /* FIELD ELEMENTS */

  .field-row {
    flex: 50%;
    height: 35vh;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 0.75s;
  }

  .field {
    flex: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.75s;
  }

  .field-name {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
  }

  .field-image-div {
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .field-image {
    width: 23rem;
    align-items: center;
    justify-content: center;
  }

  .earth {
    position: relative;
    z-index: 1;
  }

  .grass {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }

  /* BUTTON ELEMENTS */

  .buttons {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .btn {
    position: static;
    transform: translateY(-80%);
    color: #5f3303;
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.7rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 400;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);

    padding: 0.7rem 1.5rem;
    margin: 2rem;
    border-radius: 50rem;
    box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  }

  .btn--icon::first-letter {
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 0.7rem;
  }
}

/* MISCELLANEOUS OVERRIDES */

@layer middle {
  .invisible {
    opacity: 0;
  }

  .score-board {
    text-align: center;
    height: 0vh;
  }

  .btn--selectable:active {
    transform: translateY(-70%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  .btn--alert {
    background-color: rgba(173, 241, 124, 0.6);
    border-radius: 0.5rem;
    width: 15rem;
    height: 15rem;
    margin: 0rem;
    transform: translateY(-8rem);
    z-index: 3;
  }

  .btn--alert::first-letter {
    font-size: 1.8rem;
    display: inline-block;
    margin-right: 0.7rem;
  }

  .btn--status {
    background-color: rgba(173, 241, 124, 0.6);
    z-index: 3;
  }

  .btn--bid {
    z-index: 3;
  }

  .btn--peek {
    z-index: 3;
  }

  .btn--pass {
    z-index: 3;
  }

  .btn--new {
    z-index: 3;
  }

  .btn:focus {
    outline: none;
  }

  .game-title {
    background-color: #5f3303;
    margin: 0rem;
    padding: 2rem;
    font-family: 'Pirata+One';
    color: gold;
    font-weight: bold;
    font-size: 5rem;
    line-height: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
  }

  .field-info {
    font-size: 1.8rem;
    font-weight: 300;
    color: white;
    margin-bottom: auto;
  }

  .financials {
    height: 10vh;
  }
}

@media only screen and (max-width: 768px) {
  main {
    width: 100vw;
    height: 100vh;
  }

  html {
    font-size: 1.2vmax;
  }

  table,
  th,
  td {
    font-size: 2rem;
  }

  .game-title {
    font-size: 3rem;
  }

  .field-image {
    width: 17rem;
  }
  /*
  .grass {
    position: absolute;
    top: 0;
    left: 0;
  }
*/
  .btn--selectable:active {
    transform: translateY(-110%);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  .btn {
    position: static;
    transform: translateY(-120%);
    margin: 3rem;
  }

  .btn--alert {
    position: static;
    transform: translateY(-30%);
  }

  .bid {
    font-size: 2rem;
    height: 6rem;
    text-align: center;
  }

  .field-row {
    max-height: 33vh;
    margin-top: 2rem;
  }

  .financials {
    max-height: 10vh;
  }
}
